
#viewpane {
    -fx-pref-height: 900px;
    -fx-pref-width: 900px;
}

#NoteTitle {
    -fx-background-color: #eeeeee;
    -fx-text-fill: navy;
    -fx-font-family: fantasy;
    -fx-font-size: 20;
    -fx-pref-width: 600px;
}

#NoteDate {
    -fx-background-color: #eeeeee;
    -fx-text-fill: navy;
    -fx-font-size: 19;
    -fx-alignment: baseline-right;
    -fx-pref-width: 278px;
}

#NoteData {
    -fx-text-fill: WHITE;
    -fx-background-color: #555555;
    -fx-border-color: RED;
    -fx-alignment: top-left;
    -fx-min-height: 685px;
    -fx-min-width: 678px;
    -fx-padding: 10px;
}

#NoteHeader {
    -fx-pref-width: 900px;
}

#NoteNr {
    -fx-text-fill: WHITE;
    -fx-font-size: 22px;
}

#info {
    -fx-text-fill: cyan;
}

.scroll-pane {
    -fx-background-color: #eeaa00;
    -fx-vbar-policy: as-needed;
    -fx-hbar-policy: as-needed;
}

#filter {
    -fx-text-fill: WHITE;
    -fx-font-size: 20px;
}

#filterBox {

}

#filter {

}

#btnDelete {
    -fx-border-style: hidden;
    -fx-text-fill: RED;
    -fx-font-size: 18px;
}

#filteredText {
    -fx-background-color: cyan;
}

#fop {
    -fx-font-size: 18px;
}
