
.root {
    -fx-background-color: #99a18e; /*51afff 808080*/
}

.button {
    -fx-border-color: #02fa13;
    -fx-text-fill: white;
    -fx-font-family: "Arial Black";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#61a201, #2A5058);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.button:hover {
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}

#Menu {
    -fx-padding: 6px;
    -fx-border-width: 2px;
    -fx-border-color: #2277aa;
    -fx-background-color: linear-gradient(#7744ee, #1844ff);
    /*-fx-background-color: darkblue;*/
}

#MenuBtn {
    -fx-pref-width: 280px;
}

/*
#TableView {
    -fx-background-color: white;
    -fx-selection-bar-focused: red;
    -fx-selection-bar-non-focused: blue;
}*/
/*
#TableView .table-row:hover {
    -fx-background-color: red;
}*/

#TableView .table-row-cell:odd {
    -fx-background-color: #555555;
}

#TableView .table-row-cell:selected {
    -fx-background-color: green;
}

#TableView .column-header {
    -fx-background-color: #bbbbbb;
    /*-fx-background-color: linear-gradient(#61a2b1 0%, #eeaa00 100%);*/
}

#TableView .table-row-cell {
    -fx-background-color: #444444;
    -fx-text-fill: white;
}

#TableView .table-row-cell .cell {
    -fx-text-fill: white;
}

/*
.table-row-cell .up {
    -fx-background-color: green;
}

.table-row-cell .down {
    -fx-background-color: red;
}

.table-row-cell:hover {
    -fx-background-color: navy;
}

.table-row-cell:selected .table-cell {
    -fx-background-color: salmon;
    -fx-font-size: 10px;
}
*/

#NoteContainer {
    -fx-background-color: white;
}

#borderpane {
    -fx-pref-height: 400px;
    -fx-pref-width: 600px;
}

#users_filtering {
    -fx-font-size: 18;
    -fx-text-fill: yellow;
}

/*
#ColumnName {
    -fx-background-color: linear-gradient(darkgray, gray);
    -fx-text-fill: #ffffff;
}*/



